.content{
  display: flex;
  height: 50px;
  font-family: var(--font-antonio);
  font-size: 1.125em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.3s ease-out;
}

.content:hover{
  filter: drop-shadow( 0 0 8px var(--color-base));
}

.content span{
  align-items: center;
  display: flex;
  background-color: var(--color-base);
  height: 50px;
  padding: 0 2em;
}

.content::before{
  background-color: var(--color-base);
  content: '';
  clip-path: polygon(0 16px, 100% 0, 100% 100%, 0 100%);
  height: 50px;
  width: 16px;
}

.content::after{
  background-color: var(--color-base);
  content: '';
  clip-path: polygon(0 0, 100% 0, 100% 34px, 0 100%);
  height: 50px;
  width: 16px;
}