@for $i from 1 through 83 {
  .vt-characters-image-#{$i} {
    view-transition-name: vt-characters-image-#{$i}
  }
}

@for $i from 1 through 83 {
  .vt-characters-title-#{$i} {
    view-transition-name: vt-characters-title-#{$i}
  }
}

@for $i from 1 through 60 {
  .vt-planets-image-#{$i} {
    view-transition-name: vt-planets-image-#{$i}
  }
}

@for $i from 1 through 83 {
  .vt-planets-title-#{$i} {
    view-transition-name: vt-planets-title-#{$i}
  }
}