@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";

:root {
  --color-base: #485058;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.theme-luke {
  --color-base: #00A0FF
}

.theme-vader {
  --color-base: #FF2828
}

.theme-yoda {
  --color-base: #32C200
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-antonio);
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.1em;
  text-transform: uppercase;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

p{
  margin-bottom: 1rem;
}

.markdown ol, .markdown ul{
  padding-left: 2rem;
}

.markdown ol li{
  list-style: decimal;
}

.markdown ul li{
  list-style: disc;
}

.disabled{
  pointer-events: none;
}

body {
  background-color: black;
  color: #fff;
  font-family: 'Inter Variable', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.isHome .content-page{
  justify-content: center;
}

.vt-image{
  view-transition-name: vt-image;
}

.vt-characters{
  view-transition-name: vt-characters;
}

.vt-chat{
  view-transition-name: vt-chat;
}

.vt-char-image-1{
  view-transition-name: vt-char-image-1;
}

.vt-char-image-2{
  view-transition-name: vt-char-image-2;
}

@keyframes progress {
	0% {
		transform: translateX(-100%);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeIn {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}

.chat{
  animation: closeChat 0.3s cubic-bezier(0.77, 0, 0.175, 1) 1;
}

.chat.active{
  animation: openChat 0.3s cubic-bezier(0.77, 0, 0.175, 1) 1;
}

@keyframes openChat {
	0% {
    opacity: 0;
    transform: translateY(20px);
	}

	100% {
    opacity: 1;
    transform: translateY(0);
	}
}

@keyframes closeChat {
	0% {
    opacity: 1;
    transform: translateY(0);
	}

	100% {
    opacity: 0;
    transform: translateY(20px);
	}
}

.main-image.isHome{
  mask-image: linear-gradient(0deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%);
}

@media ( min-width: 1024px ) { 
}

@media ( min-width: 768px ) { 
  .main-image.isHome{
    mask-image: none;
  }

  .text-stroke{
    -webkit-text-stroke: 2px white;
  }
}

@media ( min-width: 640px ) {
  .char-image{
    clip-path: path("M376,500H48c-18.7-18.7-29.3-29.3-48-48V24C0,10.7,10.7,0,24,0h328c18.7,18.7,29.3,29.3,48,48v428 C400,489.3,389.3,500,376,500z");
  }
}